#songSettingsButton{
    type: button;
    content: "Song Settings";
    top: 5;
    left: 80;
    width: 20;
    height: 7;
    font-size: 2.5;
    growOnHover: 0.1;
}

#timingSettingsButton{
    type: button;
    content: "Timing Settings";
    top: 15;
    left: 80;
    width: 20;
    height: 7;
    font-size: 2.5;
    growOnHover: 0.1;
    active: no;
}

#noteSettingsButton{
    type: button;
    content: "Note Settings";
    top: 25;
    left: 80;
    width: 20;
    height: 7;
    font-size: 2.5;
    growOnHover: 0.1;
    active: no;
}

#speedSlider{
    type: slider;
    top: 5;
    left: 10;
    width: 20;
    height: 2;
    growOnHover: 0.1;
    min: -3;
    max: 3;
}

#speedResetButton{
    type: button;
    content: "Reset";
    top: 5;
    left: 35;
    width: 5;
    height: 3;
    growOnHover: 0.1;
    font-size: 2;
}

#zoomSlider{
    type: slider;
    top: 10;
    left: 10;
    width: 20;
    height: 2;
    growOnHover: 0.1;
    min: 1;
    max: 70;
}

#zoomResetButton{
    type: button;
    content: "Reset";
    top: 10;
    left: 35;
    width: 5;
    height: 3;
    growOnHover: 0.1;
    font-size: 2;
}

#toolsContainer{
    type: container;
    top: 0;
    left: 50;
    width: 30;
    height: 10;
    active: no;
}

#addNoteButton{
    type: button;
    parent: toolsContainer;
    top: 10;
    left: 5;
    content: "O";
    font-size: 2;
    width: 10;
    height: 40;
}

#rmNoteButton{
    type: button;
    parent: toolsContainer;
    top: 55;
    left: 5;
    content: "X";
    font-size: 2;
    width: 10;
    height: 40;
}

#addTimeSigButton{
    type: button;
    parent: toolsContainer;
    top: 10;
    left: 17;
    content: "T+";
    font-size: 2;
    width: 10;
    height: 40;
}

#rmTimeSigButton{
    type: button;
    parent: toolsContainer;
    top: 55;
    left: 17;
    content: "T-";
    font-size: 2;
    width: 10;
    height: 40;
}

#barPlusButton{
    type: button;
    parent: toolsContainer;
    top: 10;
    left: 29;
    content: "B+";
    font-size: 2;
    width: 10;
    height: 40;
}

#barMinusButton{
    type: button;
    parent: toolsContainer;
    top: 55;
    left: 29;
    content: "B-";
    font-size: 2;
    width: 10;
    height: 40;
}

#toolsButton{
    type: button;
    content: "Tools";
    top: 5;
    left: 45;
    width: 5;
    height: 3;
    font-size: 2;
    growOnHover: 0.1;
    makeActive: toolsContainer;
}