#darkenBackground{
    type: rectangle;
    left: 0;
    top: 0;
    width: 100;
    height: 100;
    color: BLACK;
    opacity: 0.7;
}

#panel{
    type: rectangle;
    left: 0;
    top: 0;
    width: 100;
    height: 70;
    color: BLACK;
}

#pageTitle{
    type:text;
    content: "Song Settings";
    color: WHITE;
    font-size: 3.3;
    left: 42;
    top: 3;
    width: 100;
}

#backButton{
    type: button;
    left: 83;
    top: 5;
    width: 15;
    height: 7;
    content: "Back";
    font-size: 3;
    color: WHITE;
    growOnHover: 0.1;
}

#nameBox{
    type: textbox;
    left: 40;
    top: 12;
    width: 30;
    height: 5;
    growOnHover: 0.1;
}

#artistBox{
    type: textbox;
    margin-left: 0;
    margin-top: 6;
    width: 30;
    height: 5;
    growOnHover: 0.1;
}

#mapCreatorBox{
    type: textbox;
    margin-left: 0;
    margin-top: 6;
    width: 30;
    height: 5;
    growOnHover: 0.1;
}

#BPM_Box{
    type: numberbox;
    margin-left: 10;
    margin-top: 6;
    width: 10;
    height: 5;
    min: 1;
    max: 300;
    font-size: 3;
    growOnHover: 0.1;
}

#beatsBox{
    type: numberbox;
    margin-left: 0;
    margin-top: 6;
    width: 10;
    height: 5;
    min: 1;
    max: 300;
    font-size: 3;
    growOnHover: 0.1;
}

#offsetBox{
    type: numberbox;
    margin-left: 0;
    margin-top: 6;
    width: 10;
    height: 5;
    min: -5000;
    max: 5000;
    growOnHover: 0.1;
}

#previewOffsetBox{
    type: numberbox;
    margin-left: 0;
    margin-top: 6;
    width: 10;
    height: 5;
    min: 0;
    max: 5000;
    growOnHover: 0.1;
}

#difficultyBox{
    type: numberbox;
    margin-left: 0;
    margin-top: 6;
    width: 10;
    height: 5;
    min: 0;
    max: 12;
    growOnHover: 0.1;
}



#nameText{
    type: text;
    left: 22;
    top: 13;
    width: 30;
    height: 5;
    font-size: 2.5;
    content: "Name";
    color: WHITE;
}

#artistText{
    type: text;
    margin-left: 0;
    margin-top: 6;
    width: 30;
    height: 5;
    font-size: 2.5;
    content: "Artist";
    color: WHITE;
}

#mapCreatorText{
    type: text;
    margin-left: 0;
    margin-top: 6;
    width: 30;
    height: 5;
    font-size: 2.5;
    content: "Map Creator";
    color: WHITE;
}

#BPM_Text{
    type: text;
    margin-left: 15;
    margin-top: 6;
    width: 10;
    height: 5;
    min: 1;
    max: 300;
    font-size: 3;
    font-size: 2.5;
    content: "BPM";
    color: WHITE;
}

#beatsText{
    type: text;
    margin-left: 0;
    margin-top: 6;
    width: 10;
    height: 5;
    min: 1;
    max: 300;
    font-size: 3;
    font-size: 2.5;
    content: "Beats";
    color: WHITE;
}

#offsetText{
    type: text;
    margin-left: 0;
    margin-top: 6;
    width: 10;
    height: 5;
    min: -5000;
    max: 5000;
    font-size: 2.5;
    content: "Offset";
    color: WHITE;
}

#previewOffsetText{
    type: text;
    margin-left: -11.5;
    margin-top: 6;
    width: 20;
    height: 5;
    min: 0;
    max: 5000;
    font-size: 2.5;
    content: "Preview Offset";
    color: WHITE;
}

#difficultyText{
    type: text;
    margin-left: 11.5;
    margin-top: 6;
    width: 15;
    height: 5;
    min: 0;
    max: 12;
    font-size: 2.5;
    content: "Difficulty";
    color: WHITE;
}