#darkenBackground{
    type: rectangle;
    left: 0;
    top: 0;
    width: 100;
    height: 70;
    color: BLACK;
    opacity: 0.8;
}

#pageTitle{
    type:text;
    content: "Timing Settings";
    color: WHITE;
    font-size: 3.3;
    left: 36;
    top: 3;
    width: 100;
}

#backButton{
    type: button;
    left: 83;
    top: 15;
    width: 15;
    height: 7;
    content: "Back";
    font-size: 3;
    color: WHITE;
    growOnHover: 0.1;
}

#BPM_Box{
    type: numberbox;
    left: 40;
    top: 12;
    width: 20;
    height: 5;
    min: 1;
    max: 300;
    font-size: 3;
    growOnHover: 0.1;
}

#timeBox{
    type: numberbox;
    margin-left: 0;
    margin-top: 6;
    width: 20;
    height: 5;
    min: 0;
    max: 99999;
    font-size: 3;
    growOnHover: 0.1;
}

#beatsBox{
    type: numberbox;
    margin-left: 0;
    margin-top: 6;
    width: 20;
    height: 5;
    min: 0;
    max: 30;
    font-size: 3;
    growOnHover: 0.1;
}

#zoomSlider{
    type: slider;
    margin-left: 0;
    margin-top: 8;
    width: 20;
    height: 2;
    min: 1;
    max: 20;
}

#BPMText{
    type: text;
    left: 22;
    top: 13;
    width: 30;
    height: 5;
    font-size: 2.5;
    content: "BPM";
    color: WHITE;
}

#timeText{
    type: text;
    margin-left: 0;
    margin-top: 6;
    width: 30;
    height: 5;
    font-size: 2.5;
    content: "Time";
    color: WHITE;
}

#beatsText{
    type: text;
    margin-left: 0;
    margin-top: 6;
    width: 30;
    height: 5;
    font-size: 2.5;
    content: "Beats";
    color: WHITE;
}

#zoomText{
    type: text;
    margin-left: 0;
    margin-top: 6;
    width: 30;
    height: 5;
    font-size: 2.5;
    content: "Zoom";
    color: WHITE;
}