#playButton {
    type: button;
    content: "Play";
    color: WHITE;
    image: assets/note.png;
    font-size: 7;
    left: 5;
    top: 10;
    width: 30;
    height: 30;
    growOnHover: 0.2;
    loadFile: _mapselect_;
    keepAspectRatio: yes;
}


#settingsButton {
    type: button;
    content: "settings";
    color: black;
    font-size: 3.5;
    left: 48;
    top: 55;
    width: 20;
    height: 6.5;
    growOnHover: 0.2;
}

#newmapButton {
    type: button;
    content: "New Map";
    color: black;
    font-size: 3.5;
    margin-left: 9;
    margin-top: 10;
    width: 20;
    height: 6.5;
    growOnHover: 0.2;
}

#exitButton {
    type: button;
    content: "exit";
    color: black;
    font-size: 3.5;
    margin-left: 9;
    margin-top: 10;
    width: 20;
    height: 6.5;
    growOnHover: 0.2;
}

#ShadowOneButton {
    type: text;
    content: "One Button";
    color: BLACK;
    opacity: 1;
    font-size: 7;
    left: 50.5;
    top: 20.5;
    width: 50;
    height: 6.5;
}

#TitleOneButton {
    type: text;
    content: "One Button";
    color: WHITE;
    opacity: 1;
    font-size: 7;
    margin-left: -0.5;
    margin-top: -0.5;
    width: 50;
    height: 6.5;
}

#ShadowRhythm {
    type: text;
    content: "Rhythm";
    color: BLACK;
    opacity: 1;
    font-size: 7;
    left: 58.5;
    top: 30.5;
    width: 50;
    height: 6.5;
}

#TitleRhythm {
    type: text;
    content: "Rhythm";
    color: WHITE;
    opacity: 1;
    font-size: 7;
    margin-left: -0.5;
    margin-top: -0.5;
    width: 50;
    height: 6.5;
}

#nameis {
    type: text;
    content: "name:";
    left: 57;
    top: 90;
    font-size: 3;
    width: 30;
    color: WHITE;
}

#showName {
    type: text;
    content: _playerName_;
    margin-left: 12;
    margin-top: 0;
    font-size: 3;
    width: 30;
    color: WHITE;
}