#playButton {
    type: button;
    image: assets/note.png;
    left: 5;
    top: 10;
    width: 30;
    height: 30;
    growOnHover: 0.2;
    loadFile: _mapselect_;
    keepAspectRatio: yes;
}

#playIconShadow {
    type: image;
    image: assets/icons/play.png;
    parent: playButton;
    color: DARKGRAY;
    left: 36;
    top: 48;
    width: 42;
    height: 42;
    keepAspectRatio: yes;
}

#playIcon {
    type: image;
    image: assets/icons/play.png;
    parent: playButton;
    color: WHITE;
    left: 32;
    top: 44;
    width: 45;
    height: 45;
    keepAspectRatio: yes;
}


#settingsButton {
    type: button;
    image: assets/icons/settings.png;
    color: WHITE;
    font-size: 3.5;
    left: 35;
    top: 55;
    width: 7;
    height: 7;
    keepAspectRatio: yes;
    growOnHover: 0.2;
    rotateOnHover: 90;
}

#newmapButton {
    type: button;
    image: assets/icons/plus.png;
    color: WHITE;
    font-size: 3.5;
    margin-left: 7;
    margin-top: 8;
    width: 7;
    height: 7;
    keepAspectRatio: yes;
    growOnHover: 0.2;
}

#exitButton {
    type: button;
    image: assets/icons/exit.png;
    color: black;
    font-size: 3.5;
    margin-left: 7;
    margin-top: 8;
    width: 8;
    height: 8;
    keepAspectRatio: yes;
    growOnHover: 0.2;
    rotateOnHover: 10;
}

#ShadowOneButton {
    type: text;
    content: "One Button";
    color: BLACK;
    opacity: 1;
    font-size: 7;
    left: 50.5;
    top: 20.5;
    width: 50;
    height: 6.5;
}

#TitleOneButton {
    type: text;
    content: "One Button";
    color: WHITE;
    opacity: 1;
    font-size: 7;
    margin-left: -0.5;
    margin-top: -0.5;
    width: 50;
    height: 6.5;
}

#ShadowRhythm {
    type: text;
    content: "Rhythm";
    color: BLACK;
    opacity: 1;
    font-size: 7;
    left: 58.5;
    top: 30.5;
    width: 50;
    height: 6.5;
}

#TitleRhythm {
    type: text;
    content: "Rhythm";
    color: WHITE;
    opacity: 1;
    font-size: 7;
    margin-left: -0.5;
    margin-top: -0.5;
    width: 50;
    height: 6.5;
}

#nameis {
    type: text;
    content: "name:";
    left: 57;
    top: 90;
    font-size: 3;
    width: 30;
    color: WHITE;
}

#showName {
    type: text;
    content: _playerName_;
    margin-left: 12;
    margin-top: 0;
    font-size: 3;
    width: 30;
    color: WHITE;
}