#titleDarkening {
    type: rectangle;
    color: BLACK;
    opacity: 0.5;
    x: 0;
    y: 0;
    width: 100;
    height: 13;
}

#backButton {
    type: button;
    content: "Back";
    font-size: 2.5;
    left: 5;
    top: 4;
    width: 10;
    height: 5;
    growOnHover: 0.2;
}

#titleDarkening {
    type: rectangle;
    color: BLACK;
    opacity: 0.5;
    x: 0;
    y: 0;
    width: 100;
    height: 13;
}

#backButton {
    type: button;
    content: "Back";
    font-size: 2.5;
    left: 5;
    top: 4;
    width: 10;
    height: 5;
    growOnHover: 0.2;
}

#modsButton {
    type: button;
    content: "Mods";
    font-size: 2.5;
    left: 20;
    top: 4;
    width: 10;
    height: 5;
    growOnHover: 0.2;
}

#searchBox {
    type: textbox;
    content: "";
    font-size: 2.5;
    left: 38;
    top: 4;
    width: 20;
    height: 5;
    growOnHover: 0.2;
}

#searchText {
    type: text;
    content: "Search";
    font-size: 2.5;
    left: 43;
    top: 4.9;
    width: 20;
    height: 2;
    color: DARKGRAY;
}

#mapContainer{
    type: container;
    scrollable: no;
    left: 0;
    top: 0;
    width: 30;
    height: 30.1;
    active: no;
}

#mapBackground{
    type: rectangle;
    parent: mapContainer;
    color: BLACK;
    left: 0;
    top: 0;
    width: 100;
    height: 90;
}

#mapImage {
    type: image;
    parent: mapContainer;
    left: 0;
    top: 0;
    width: 100;
    height: 80;
    color: WHITE;
}

#mapStatsDarkening{
    type: rectangle;
    parent: mapContainer;
    color: BLACK;
    opacity: 0.8;
    top: 4;
    left: 4;
    width: 20;
    height: 20;
}

#difficulty {
    type: text;
    parent: mapContainer;
    content: $difficulty;
    top: 5;
    left: 5;
    font-size: 2.7;
    width: 25;
    height: 50;
    color: WHITE;
}

#songLength {
    type: text;
    parent: mapContainer;
    content: $musicLength;
    top: 14;
    left: 5;
    font-size: 2.1;
    width: 25;
    height: 50;
    color: WHITE;
}

#mapBar {
    type: rectangle;
    parent: mapContainer;
    left: 0;
    top: 80;
    width: 100;
    height: 20;
    color: WHITE;
}

#mapName {
    type: text;
    parent: mapContainer;
    content: $mapname_artist;
    left: 0;
    top: 82;
    width: 100;
    height: 20;
    font-size: 3;
    color: DARKGRAY;
}

#highscoreContainer{
    type: container;
    scrollable: no;
    left: 0;
    top: 0;
    width: 30;
    height: 20;
    active: no;
}

#highscoreBackground{
    type: rectangle;
    parent: highscoreContainer;
    left: 75;
    top: 5;
    width: 100;
    height: 30;
    color: BLACK;
    opacity: 0.8;
}

#highscoreText{
    type: text;
    parent: highscoreContainer;
    content: $highscore;
    left: 76;
    top: 6;
    width: 100;
    color: WHITE;
    font-size: 2;
}

#comboText{
    type: text;
    parent: highscoreContainer;
    content: $combo;
    left: 76;
    top: 20;
    width: 100;
    color: WHITE;
    font-size: 2;
}