#titleDarkening {
    type: rectangle;
    color: BLACK;
    opacity: 0.5;
    x: 0;
    y: 0;
    width: 100;
    height: 13;
}

#backButton {
    type: button;
    image: assets/icons/back.png;
    left: 5;
    top: 3;
    width: 5;
    height: 5;
    growOnHover: 0.2;
    keepAspectRatio: yes;
    rotateOnHover: -10;
}


#title {
    type: text;
    content: "New Map";
    color: WHITE;
    font-size: 5;
    left: 38;
    top: 3;
    width: 40;
    height: 5;
}

#settingsContainer{
    type: container;
    scrollable: no;
    left: 0;
    top: 13;
    width: 100;
    height: 87;
}

#DropText{
    type: text;
    parent: settingsContainer;
    content: "Drop in .png, .wav or .mp3";
    margin-left: 20;
    margin-top: 7;
    font-size: 4;
    width: 70;
    color: WHITE;
}

#nameText {
    type: text;
    parent: settingsContainer;
    content: "Name";
    color: WHITE;
    font-size: 3;
    margin-left: 61;
    margin-top: 20;
    width: 40;
}

#nameBox {
    type: textbox;
    parent: settingsContainer;
    margin-left: 50;
    margin-top: 25;
    width: 30;
    height: 6;
    growOnHover: 0.05;
}

#artistText {
    type: text;
    parent: settingsContainer;
    content: "Artist";
    color: WHITE;
    font-size: 3;
    margin-left: 61;
    margin-top: 32;
    width: 40;
}

#artistBox {
    type: textbox;
    parent: settingsContainer;
    margin-left: 50;
    margin-top: 37;
    width: 30;
    height: 6;
    growOnHover: 0.05;
}

#mapCreatorText {
    type: text;
    parent: settingsContainer;
    content: "Map Creator";
    color: WHITE;
    font-size: 3;
    margin-left: 56;
    margin-top: 44;
    width: 40;
}

#mapCreatorBox {
    type: textbox;
    parent: settingsContainer;
    margin-left: 50;
    margin-top: 49;
    width: 30;
    height: 6;
    growOnHover: 0.05;
}

#difficultyText {
    type: text;
    parent: settingsContainer;
    content: "Difficulty";
    color: WHITE;
    font-size: 3;
    margin-left: 59;
    margin-top: 56;
    width: 40;
}

#difficultyBox {
    type: textbox;
    parent: settingsContainer;
    margin-left: 50;
    margin-top: 61;
    width: 30;
    height: 6;
    growOnHover: 0.05;
}

#bpmText {
    type: text;
    parent: settingsContainer;
    content: "BPM";
    color: WHITE;
    font-size: 3;
    margin-left: 62;
    margin-top: 68;
    width: 40;
}

#bpmBox {
    type: textbox;
    parent: settingsContainer;
    margin-left: 50;
    margin-top: 73;
    width: 30;
    height: 6;
    growOnHover: 0.05;
}

#finishButton {
    type: button;
    image: assets/icons/forwardArrow.png;
    left: 87;
    top: 80;
    width: 8;
    height: 8;
    growOnHover: 0.2;
    keepAspectRatio: yes;
}