#titleDarkening {
    type: rectangle;
    color: BLACK;
    opacity: 0.5;
    x: 0;
    y: 0;
    width: 100;
    height: 13;
}

#backButton {
    type: button;
    image: assets/icons/back.png;
    left: 5;
    top: 3;
    width: 5;
    height: 5;
    growOnHover: 0.2;
    keepAspectRatio: yes;
    rotateOnHover: -10;
}

#Settings {
    type: text;
    content: "Settings";
    color: WHITE;
    font-size: 5;
    left: 40;
    top: 3;
    width: 30;
    height: 5;
}

#settingsContainer{
    type: container;
    scrollable: yes;
    left: 0;
    top: 13;
    width: 100;
    height: 100;
}

#globalVolumeIcon {
    type: image;
    parent: settingsContainer;
    image: assets/icons/speaker.png;
    color: WHITE;
    margin-left: 37;
    margin-top: 12;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}

#globalVolume {
    type: slider;
    parent: settingsContainer;
    min: 0;
    max: 100;
    margin-left: 5;
    margin-top: 15;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#globalVolumeText {
    type: text;
    parent: settingsContainer;
    content: "Global Volume";
    color: WHITE;
    font-size: 3;
    margin-left: 10;
    margin-top: 10;
    width: 40;
}

#musicVolumeIcon {
    type: image;
    parent: settingsContainer;
    image: assets/icons/speaker.png;
    color: WHITE;
    margin-left: 37;
    margin-top: 27;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}

#musicVolume {
    type: slider;
    parent: settingsContainer;
    min: 0;
    max: 100;
    margin-left: 5;
    margin-top: 30;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#musicVolumeText {
    type: text;
    parent: settingsContainer;
    content: "Music Volume";
    color: WHITE;
    font-size: 3;
    margin-left: 10;
    margin-top: 25;
    width: 40;
}

#effectVolumeIcon {
    type: image;
    parent: settingsContainer;
    image: assets/icons/speaker.png;
    color: WHITE;
    margin-left: 37;
    margin-top: 42;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}

#effectVolume {
    type: slider;
    parent: settingsContainer;
    min: 0;
    max: 100;
    margin-left: 5;
    margin-top: 45;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#effectVolumeText {
    type: text;
    parent: settingsContainer;
    content: "Sound Effect Volume";
    color: WHITE;
    font-size: 3;
    margin-left: 3.5;
    margin-top: 40;
    width: 40;
}

#zoomIcon {
    type: image;
    parent: settingsContainer;
    image: assets/icons/zoom.png;
    color: WHITE;
    margin-left: 37;
    margin-top: 57;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}

#zoomSlider {
    type: slider;
    parent: settingsContainer;
    min: 1;
    max: 20;
    margin-left: 5;
    margin-top: 60;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#zoomText {
    type: text;
    parent: settingsContainer;
    content: "Zoom";
    color: WHITE;
    font-size: 3;
    margin-left: 16;
    margin-top: 55;
    width: 40;
}

#noteSizeSlider {
    type: slider;
    parent: settingsContainer;
    min: 1;
    max: 20;
    margin-left: 5;
    margin-top: 70;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#noteSizeText {
    type: text;
    parent: settingsContainer;
    content: "Note Size";
    color: WHITE;
    font-size: 3;
    margin-left: 13;
    margin-top: 65;
    width: 40;
}

#offsetIcon {
    type: image;
    parent: settingsContainer;
    image: assets/icons/clock.png;
    color: WHITE;
    margin-left: 82;
    margin-top: 13;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}

#offsetBox {
    type: numberbox;
    parent: settingsContainer;
    margin-left: 60;
    margin-top: 15;
    width: 20;
    height: 5;
    growOnHover: 0.05;
    min: -200;
    max: 200;
}

#offsetSlider {
    type: slider;
    parent: settingsContainer;
    min: -200;
    max: 200;
    margin-left: 55;
    margin-top: 25;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#offsetText {
    type: text;
    parent: settingsContainer;
    content: "Offset";
    color: WHITE;
    font-size: 3;
    margin-left: 66;
    margin-top: 10;
    width: 40;
}

#nameBox {
    type: textbox;
    parent: settingsContainer;
    margin-left: 55;
    margin-top: 35;
    width: 30;
    height: 5;
    growOnHover: 0.05;
}

#nameText {
    type: text;
    parent: settingsContainer;
    content: "Name";
    color: WHITE;
    font-size: 3;
    margin-left: 66;
    margin-top: 30;
    width: 40;
}

#animationsText {
    type: text;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 58;
    margin-top: 40;
    width: 30;
    height: 5;
    content: "Note Animations";
}

#animationsToggle {
    type: toggle;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 69;
    margin-top: 45;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}

#customAssetsText {
    type: text;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 53;
    margin-top: 50;
    width: 40;
    height: 5;
    content: "Note Sound/ Textures";
}

#customAssetsToggle {
    type: toggle;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 69;
    margin-top: 55;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}

#backgroundDarknessText {
    type: text;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 53;
    margin-top: 60;
    width: 40;
    height: 5;
    content: "background";
}

#backgroundDarknessSlider {
    type: slider;
    parent: settingsContainer;
    min: 0;
    max: 255;
    margin-left: 55;
    margin-top: 65;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#customNoteHeightText {
    type: text;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 53;
    margin-top: 75;
    width: 40;
    height: 5;
    content: "note range";
}

#customNoteHeight {
    type: slider;
    parent: settingsContainer;
    min: 1;
    max: 100;
    margin-left: 55;
    margin-top: 80;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#noteOverlapText {
    type: text;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 53;
    margin-top: 90;
    width: 40;
    height: 5;
    content: "note overlap";
}

#noteOverlap {
    type: slider;
    parent: settingsContainer;
    min: 1;
    max: 100;
    margin-left: 55;
    margin-top: 95;
    width: 30;
    height: 3;
    growOnHover: 0.05;
}

#useMapZoomText {
    type: text;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 9;
    margin-top: 75;
    width: 30;
    height: 5;
    content: "Use Map Zoom";
}

#useMapZoomToggle {
    type: toggle;
    parent: settingsContainer;
    color: WHITE;
    font-size: 3;
    margin-left: 18;
    margin-top: 80;
    width: 5;
    height: 5;
    keepAspectRatio: yes;
}